@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}

.content-thumb {
  margin-bottom: 10px;
}
.content-thumb > img {
  vertical-align: bottom;
}
.is-left {
  float: left;
  margin-right: 20px;
}
.is-right {
  float: right;
  margin-left: 20px;
}
.content-text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

/* 確認、修正してみて
名前のつけ方が１、２とかになっていたので注意
また、共通の部分がある場合はまとめて書くようにする。
コードをシンプルに */

/* 回答はここに書いてね */
