@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}

.content > img {
  margin-bottom: 10px;
  vertical-align: bottom;
}

.content-top > img {
  float: left;
  margin-right: 20px;
}

.content-bottom > img {
  float: right;
  margin-left: 20px;
}

.content > p {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}

/* 確認、修正してみて
名前のつけ方が１、２とかになっていたので注意
また、共通の部分がある場合はまとめて書くようにする。
コードをシンプルに */

/* レビューをしていただいて
　　レビュー前は,imgをdivで囲い textもdivで囲い pを２に分けと分かりずらくしていた
　　レビューをしていただいてimgとpを一つのdivに納めた、すごくシンプルになった。またpを２つに分けていたのを１つにまとめ<br>で改行した。 */

/* 回答はここに書いてね */
