@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.box_layout {
  width: 225px;
  box-sizing: border-box;
}

.float-text:first-child {
  margin-left: 0;
}

.float-text {
  float: left;
  margin-left: 50px;
}

.table {
  display: table;
}

.table-text:first-child {
  padding-left: 0;
}

.table-text {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}

.inner_inline {
  font-size: 0;
}

.inline-text {
  display: inline-block;
  margin-left: 50px;
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}
.inline-text:first-child {
  margin-left: 0;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-text {
  box-sizing: border-box;
}

.is-full {
  font-size: 0;
}

.full-text {
  font-size: 16px;
  vertical-align: top;
}

.full-left {
  display: inline-block;
  width: 300px;
}

.full-right {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

/* 確認修正してみて
q７−４までは幅が同じなのでまとめる事できるがそれが出来ていなかった
また、q７−５も共通のスタイルあるのでまとめる
まとめることがなかなかの出来ていなかった */
/* レビューをしていただいて
　　元々あるクラスを使用していたため改善
　　共通のwidth/box-sizingをまとめた
　　 */

/* 回答はここに書いてね */
