@charset "UTF-8";

/* 回答はここに書いてね */
.q10__balloon {
  position: relative;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  /* font-size: 16px;
  line-height: 16px; */
  border-radius: 30px;
  border: 5px solid #222;
}

/* 共通の部分をまとめる */
.q10__balloon:before,
.q10__balloon:after {
  position: absolute;
  width: 0;
  height: 0;
  /* transparentは透明という意味 */
  border: 20px solid transparent;
  content: "";
}

/* beforeで三角の枠線 */
.q10__balloon::before {
  left: 30px;
  bottom: -45px;
  border-top-color: #222;
}

/* afterで三角表現 */
.q10__balloon::after {
  left: 30px;
  bottom: -38px;
  border-top-color: #fff;
}

/* 確認修正してみて
　　視覚的には同じようにできていたが、共通部分をまとめられていなかった点や、
　　複雑に書いてしまっていた。*/
/* レビューをしていただいて
　　before,afterでleft,bottom指定してるのに共通で共に０指定　　していたので削除。
　　before,afterのbottomの調整はデベロッパーでみながら調整す　　る */
/* 回答はここに書いてね */
