@charset "UTF-8";

/* 回答はここに書いてね */


/* 画像拡大のアニメーション */
.q9_img {
  position: relative;
  overflow: hidden;
	width: 500px;
	height: 333px;
	margin: 0 auto;
	cursor: pointer;
}

.q9_img img {
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.q9_img:hover img {
	-webkit-transform: scale(1.5,1.5);
	transform: scale(1.5,1.5);
}

.q9_desc {
  position:	absolute;
	bottom:	-100%;
  left:	0;
	width: 100%;
  height: 100%;
  /* backgroundは長くても改行しないバクル */
  background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0,0.8)); 
  transition:	all 0.5s ease;
}

/* ホバーで上にずらす */
.q9_img:hover .q9_desc {
  bottom: 0;	
}

/* q9_desc内でのtextの配置 */
.q9_text {
  position:	absolute;
  bottom: 0;
  color:#fff;
  padding: 20px;
  word-break: break-all; /*文字の改行*/
}
/* ローディングのスタイル */
.q9__anime {
  width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 10px solid #ECF1F2;
    border-top-color: #00BCD4;
    border-radius: 50%;
    animation: turn 1.1s infinite linear;
}

@keyframes turn{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* 始から終わりなので0%-100%,from-toどちらでも同じ */
/* @keyframes turn{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
} */

/* 確認修正してみて
　　overflowで隠すこと、abusoluteでアニメション前後の配置して
　　画像の拡大とテキストの表示２つのことができることが理解できた
　　ローディングのアニメションも書き方と考え方をより理解すことが　　できた。 */
/* レビューをしていただいて
　　拡大の方で親にwidth,heightを指定しているのに画像とテキスト　　にも指定していたので削除 テキストの方にはwidth,　　height:100%とすればいい
　　また、テキスト位置をtop 55%としていたが、55%だとわかりずら　　いのでシンプルにbotoom:0;を使う*/
/* 回答はここに書いてね */
