@charset "UTF-8";

/* 回答はここに書いてね */

.q6__box__inner {
  text-align: center;
}

.q6__box__text1 {
  display: inline-block;
  padding: 10px 0;
  width: 90px;
  background-color: #e6f2ff;
}

.q6__box__text2 {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  width: 90px;
  background-color: #e6f2ff;
}

.table {
  display: table;
}
.table-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.table-text {
  display: inline-block;
  padding: 10px;
  background: #fff;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-text {
  padding: 10px;
  background-color: #fff;
}

.stable-box {
  position: relative;
}
.stable-text {
  position: absolute;
  width: 110px;
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.flexible {
  position: relative;
}
.flexible-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* 回答はここに書いてね */
